.videoHead{
    color: #6849D7;
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.vdoClass{
    margin-top: 70px;
}
.strip{
    position: absolute;
    margin-top: 160px;
    margin-left: 19.53%;
    height: 215px;
    width: 60.99%;
    background-color: #6849D7;
}
.leftButton{
    position: absolute;
    width: 80px;
    color: #6849D7;
    height: 80px;
    border: 1px solid #6849D7;
    background-color: #FFFFFF;
    margin-top: 230px;
    margin-left: 8.07%;
    font-size: 40px;
    padding: 1px 0px 0px 18px;
    z-index: 1;
}
.rightButton{
   position: absolute;
    width: 80px;
    color: #6849D7;
    height: 80px;
    border: 1px solid #6849D7;
    background-color: #FFFFFF;
    margin-top: 230px;position: absolute;
    margin-top: 210px;
    margin-left: 44%;
    z-index: 1;
    margin-left: 86%;
    font-size: 40px;
    padding: 1px 0px 0px 18px;
    z-index: 1;
}
.left{
    position: absolute;
    margin-top: 90px;
    height: 250px;
    width: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.right{
    float: right;
    margin-top: 90px;
    width: 150px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.videoMain{
    position: absolute;
    margin-top:30px;
    margin-left: 25.9%;
}
.videoMain img{
  width:65%;
}
.playButton{
    position: absolute;
    margin-top: 190px;
    margin-left: 44%;
    z-index: 1;
}
.playButton img{
    width:150px;
}

.vdoCover{
   height: 90px !important;
    width: 65%;
    height: 121px;
    position: absolute;
    margin-top: -90px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.23) 48.3%, #000000 100%);
}
.vdoCover h1 {
    padding-top: 15px;
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 500;
    line-height: 35px;
    font-size: 28px;
    letter-spacing: 0.37px;
    text-align: justify;
}
.vdoInfo{
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 12px;
    line-height: 19px;
    display: inline-flex;
}
.vdoInfo p {
    display: -webkit-inline-box;
    word-wrap: break-word;
}
.vdoInfo ul {
    margin-left: 285px;
}
.vdoInfo li{
    display: -webkit-inline-box;
}
.vdoInfo i{
    font-size: 17px;
    margin-right: 20px;
    color:#ffffff;
}
.vdoRm {
    float: right;
    padding-right: 2%;
    color: #FFFFFF;
}
.vdoRm a {
    text-decoration: none;
}