.zeroPadding{
    padding: 0;
}
.customMargin0{
    margin-top: 0;
}
.customMargin20{
    margin-top: 14px;
}
.customMargin28{
    margin-left: 28.5%;
}
.newsclass{
    margin-top: 4.8%;
    background-color: #ffffff;
}
.newsContainer{
    margin-top: 15px !important;
    margin-left: -12%;
    margin-right: -12%;
}
.newsContainer2{
    margin-top: 14px !important;
    margin-left: -12%;
    margin-right: -12%;
}

.newsclass h2{
    color: #6849D7;
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
}

.newsBig{  

}

.newsBig img{
    margin-left: 30%;
    width: 92.5%;
    height: 584px;
    object-fit: cover;
}

.newsSmall{
    margin-left: 8.3%;
}

.newsSmall img {
    height: 285px;
    padding-left: 7px;
    object-fit: cover;
}
.newsSmall2{
    margin-left: 8%;
}

.newsSmall2 img {
    height: 282px;
    padding-left: 0px;
    object-fit: cover;
}

.newsBig2{  
    padding-left: 1%;
}

.newsBig2 img{
    margin-left: -21.5%;
    width: 93.5%;
    height: 578px;
    object-fit: cover;
}

.tnCover{
    height: 100px !important;
    width: 89%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    margin-top: -100px;
    margin-left: -20.5%;
}
.tnCover h1 {
    padding-top: 15px;
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 500;
    line-height: 35px;
    font-size: 22px;
}
.tnInfo{
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 12px;
    line-height: 19px;
    margin-top: 10px;
}
.tnInfo p {
    display: -webkit-inline-box;
    word-wrap: break-word;
}
.tnDate {
    padding-left: 4%;
}
.tnRm {
    float: right;
    padding-right: 2%;
    color: #FFFFFF;
}
.tnRm a {
    text-decoration: none;
}

.tnCoverSmall{
    height: 100px !important;
    width: 74.1%;
    height: 121px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    margin-top: 185px;
    margin-left: 1%;
}
.tpOne{
    width: 87.7% !important;
    margin-left: 28.5% !important;
}
.tnCoverSmall h1 {
    padding-top: 15px;
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 500;
    line-height: 35px;
    font-size: 22px;
}
.tnInfoSmall{
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 12px;
    line-height: 19px;
    margin-top: 10px;
}
.tnInfoSmall p {
    display: -webkit-inline-box;
    word-wrap: break-word;
}
.tnDateSmall {
    padding-left: 4%;
}
.tnRmSmall {
    float: right;
    padding-right: 2%;
    color: #FFFFFF;
}
.tnRmSmall a {
    text-decoration: none;
}

.tnCoverSmall1{
    height: 100px !important;
    width: 73.2%;
    height: 121px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    margin-top: 182px;
    margin-left: 0%;
}
.tnCoverSmall1 h1 {
    padding-top: 15px;
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 500;
    line-height: 35px;
    font-size: 22px;
}
.tnInfoSmall1{
    padding-left: 3.5%;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 12px;
    line-height: 19px;
    margin-top: 10px;
}
.tnInfoSmall1 p {
    display: -webkit-inline-box;
    word-wrap: break-word;
}
.tnDateSmall1 {
    padding-left: 4%;
}
.tnRmSmall1 {
    float: right;
    padding-right: 2%;
    color: #FFFFFF;
}
.tnRmSmall1 a {
    text-decoration: none;
}